#progress-bar {
	background-color:#eee;
	height:50px;
	position: relative;
}
#progress-bar-complete-text,
#progress-bar-text {
	height:100%;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	padding:15px 28px;
	color:#000;
}
#progress-bar-complete {
	width:0%;
	transition:0.25s width cubic-bezier(0.075, 0.82, 0.165, 1);
	background-color:#3b99fc;
	height:100%;
	overflow: hidden;
	z-index: 1;
	position: absolute;
	top:0;
	left:0;
}
#progress-bar-complete-text {
	color:#fff;
}
#progress-bar.loading-started .progress-bar-complete {
	width:25%;
}
#progress-bar.response-recieved .progress-bar-complete {
	width:50%;
}
#progress-bar.assets-loaded .progress-bar-complete {
	width:75%;
}
#progress-bar.complete .progress-bar-complete {
	width:100%;
}

/* account */

#account {
	opacity:0;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	z-index:1;
	background-color: #3b99fc;
	color:#fff;
	transition:1s opacity cubic-bezier(0.075, 0.82, 0.165, 1);
	display:flex;
}
#html-bookmark-page,
#html-bookmark-page body {
	height:50px;
}
body.is-loaded #account {
	opacity:1;
}
#account-icon {
	width:50px;
	height:50px;
	min-width: 50px;
	background-image:url('../images/account.png');
	background-position: 50% 50%;
	background-size:79%;
	background-repeat: no-repeat;
	display:inline-block;
}
#account-icon.custom {
	background-size:cover;
}
#account-options {
	flex-grow:1;
	overflow:hidden;
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin-left:7px;
}
#account-user {
	flex-shrink: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#account-buttons {
	height:100%;
	margin-right:10px;
	display:flex;
	justify-content: end;
	align-items:center;
}
.account-button {
	width:30px;
	height:30px;
	margin:2px;
	border:1px solid #000;
	background-position: 50% 50%;
	background-size:67%;
	background-repeat: no-repeat;
	display:inline-block;
	cursor:pointer;
	opacity:0.6;
	border-radius:4px;
	filter:invert(1);
}
.account-button:hover,
.account-button:focus {
	opacity:1;
}
.account-button.switch-user {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAABiVJREFUeNrsnctuHEUUhqvHE8fmZieCDSsUAjs2iBcAdkhAQoID4jl4ANjzDmGDDQgnErnHESTAGiWbSIhHQM6GOEziTFNHc0pTNOOZbndV9ek6/5GOLFlOuqf/71y6blOUZWlgem2ARwAAYAAABgBgAAAGAGAAAAYAYLAOrWCHKRUfprwcvWD9OIDQ1QPQfYytr1nfsv4KANAH4XPWb1mn2akTaFJ1if+89ess/kPrrwMAXeLfYPGfWh8BAF1p34n/mH8CAEXi32TRn3ATCAAUvepd98QvAYCumn+zIj4AUC4+AFAi/s4B4gMABTX/xhzxAUDm4u8sEB8AKKz5AEBB5NcVHwAojnwAoLTmAwCIDwByEn+thfgAIPNBHgAg1IYtxR9z2t+2/q71/Zb/p7Oi4lKt1B75JP6tlpE/KwO85oEAE5YBqpH/TsDId1E1YF/ia0kNgid9B6BoIf6FCOI7u299T3APQJ951fr31r/0ngvSvjLf7HuzOjxE5G9HjHxn0qPJffZHGnoAf9PGD4G7/UXZRnI2HOTwmjpsEPlU899OID6sg7oO8QHAgWk/Rc2HCSoBiHzFGcAX/yLE1wVANe1DfEUAOPHXTfiJHZjgSa0h35g/yIPID2+lB0IpLQPQTb0M8aNFvuHgWjHTiS5RAFD0f85pfwTxowBw0vrXkiF40fplgwmeuu6e0fka4ylkr/Lf05vVkQX/Jrn4dGN/Wd+wfo0zwD6CN6jRugaa3v7QTGYQj3DmHUgBgH7S2TwfW78CCKJBQKKfMZOT0I5KgMBd3N3I35wJrgKCKP2AW0X0kfVvrC93DYF/4XElEwCCeK/e+wzBZtcQVC86RjlIDkGn5WDWBX0INgBBdAhOcznoBIKDLlaFAOUg03Iw70LoCdJnguTlYNFFfAjOohwkgWAzJQR1LuBuZC9hTzDukfcegqawPGswbOx8a0Egud/TZteR+e8WuEXDzNsMgYkJwbBhVPo9Ae2Kec+Enz2kD3/XTHcGSdyASYda086gewnKwacMj5jdR7Eywazt4Uvm/zuFpfigwbNqkgE6yQQSIJgFQN93B7cBoDcQPBMIgioAhfAMUCQAwH+mF3KHIMcTQkIAoKYcAID6EKzkmAkOC4DkEuFKWAgAquVgWTIElwzOCQydAXrXEzSFIEcA/EWhoQAICkERCYIxQ9BksKjk+6Evj3rD+h9zBj/81cynzOSghiWhANCgER2j91bg5+2eKS00/UTqYNFqg56gSQZwv98yWJ3cKhPESrFu2PgRDxtfNnEmkPb4WiOONKkeKyrdMz3FwbBihE4g1ekJDpMBzhtMSrXKBLFJ6WIqWaP5meBb02AqOUWq8CE4G7EcAILJM6XNJ9/VLQepaoXfE2wAgugQfGBqLipJ2SxUy8ElQJCkHMzNBKm7xSoEyATxy8HchaZdvC5UXxGRCTrsCbp6X/QhOGf9RzPdMQuL1xOsViHocsDALwfnOBMMkAmiDxa5clB0DcCscnCFB40AQbxMQBAcYwAKCUOGDoJ/uDGkyY11aBYFghFngi9cFpByHpC/5PwzM13sUEK3YLbP6f+O9a84A5SSDoRydWmPHQCEFZ+0/s1M9hvsOgCkLbhwawLwZVHhxf+FXwl3jbfhRuKRcIj68OL/yrXfiT/2GwNY/mmfuv8HZsaKIXwzZ/6Rf6D4AEBXzZ85ygoAlNX8WYMDMEU1Hxkgb/FpkOf9uuLnkAHcYtLQx7XEsEFk8anmn24ifg4AHOUPu4yaX6/m5wbAn2ayg0jyziASg+bhT0bu9h+YQ+wMyuEEjqGR/RXzdG+0z+F3zlRlgOfuxL9tJodM7hol32DeVwu5OdRtAqHIP9a2v8jhNVByFnNRGao8BUn7sPSdf8gTQu6EiHxYvwDwxT8O8XUBgMhXDIAv/jrE1wWAE/82Il8fAL74qPnKAEDaVwwA0r5iAJz4P0N8fQBAfMUA+GkfNV8ZAH7kQ3xlADjxf0La1wcA0r5iAB4j7esF4CnE1wvAQ9R8vQCcMNNlXGsQXx8Ab1rfMZjYUWduveJLEB/mAwFTKLxI8YuyxIksaFJgAAAGAGAAAAYAYAAApsf+FWAAIg7d18attioAAAAASUVORK5CYII=');
}
.account-button.logout {
	background-position: 50% 40%;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAACZhJREFUeJztnWuMXVUVx393Oi3YQmmxgFSLHakj0VZpARvFGgSJolYepkaLMRKjJpKoiSaaaAyJmPhITEBRihpLtCCiH1QQfBCShodRazJpoU5HW6hEWgcUaBWmtff4Yc3V6zh3zr53rf065/yS9eXm7rP/Z+91z91n77XXhoaGhoaGhoaGhoaGhoaGhobqshbYAkwAR6Ztz/Rn6yLqavDMQuCbQFFi3wYWRdLY4ImFwHbKO79j99M4QaX4Fu6d3/0kaKgA6+i/8zt2TgS9QRmKLSAAH1KU/YCZioZoTDD4E2BPBL1BacUWEIAjwPwByx4FFhhqSY46OEChLF/pNqrDGKBhDhoHqDmNA9ScxgFqTsoOMB+4KrYIA65i8LeQWjIEXAnsRT+Ch8HnADpmUf+fgM2k/YNLgvOBHdh3QGwH6NhvgdcYXLNyPB/Yiv8OiO0A3QtNJxtcuxJcAfyVsB0Q2wEK4CBwqcH1s+VE4GbidUBsB+h+GtQu9mANME4aHZBC/Q8DLzeoKws2Af8grQ5Iof5DyN9hZWkBnybdDkil/k9RwQWoeUjUbQ4dkEL9NyBtVgkWALeTVwekUP+tVGAGcQHwY/LsgBTq/yEZO8Ewul9+Ch2QQv23kOHfQQu4Cf3Np9ABsesvkDFBVgPDz2Bz4yl0QOz6O/ZJAy1B2ITdTafQAbHr71gbuMxAj1dW098kTw4dELv+bjsEnGWgyQsn4D69m1MHxK5/pj2E7HVMju9gf7MpdEDs+mezLQa6TLkc+5t8DpuQsNgO8H5gykDHTHubgTYTTgYOYHtzB4DzjPTFdgCA9cwd8zCIPQ4sNdKnYpCt13PZHuAlhvpScACAM4E/GujpthsN9Q3Ea7G9od3A6cYaU3EAgOWIg1u22Xpjjc4MAb9zEOhqE9h3Pga6rFmORAlbtduDRJol3DyA2F52ENvHfjepOQDAS4FJA20d2+RJZ0/mY/d/9hzwao9aU3QAkPDwIwb6CmT+Zdij1v/jfUbCi+lr+SRVBwDJQGLVjld61vofhoA/GIneGkBvyg4AsM1AY4HMEAbZebTRSPBeYHEAvak7wBLgUQOdBfDmAHr5lZHYN4YQa6AzBJcY6CyAu3wLXWUkdJtvoV3k4AAAPzDQ2gZW+hR5rYHIZ4EX+RQ5g1wc4MXIG5FW7zW+BA4B+wwEfsGXwB7k4gAAXzLQO4GniaH1BuIOIzuBQ5KTA5wC/NNAs3OG035eGy7v47u92AI8aXCdqjKJZDTX4mWL2S50Xul9gNKDnJ4AYDPQHrMWtcJA1M+sRTmSmwMA/KJPjbOZ08Ka61/AG9y19+Rmg2vUBYu2usDlS64OsGFwHYAMbO5QXqNO/AR5JdTwepcvuTqANujgbiRcvMGNQ8jfgAanFVYXB1gIvEKnhZ8ry9cRbZu9EjjeQsg56AckZ1oIGZAcB4EAoyW6XOxVZZW4PAG0uWsmkZW/hv6YAP6mvEbpk9vFAbS/3t8Q95d0VFH2iJmK/imQxJIaSvvOxQFGlCJ2KctreVRRNvaTS9t2pX3n4gDLlSJin7tzr6LsPWYqBmNcWb6071wc4AVKEY8oy2sZdB9doShrxT5l+dK+c3EA7fajA8ryWnYgG1f75evATmMt/XJQWd5k69gz6F5FTrEQoWQRchysq+Z7MHqHVnIaurZ/ykKENnY9lTy4iyjfx9gGvkYanQ+ST1nT9trpZEAaRSMi6IYFB9YC30AGWFPTthvp+DURdc3GfHRtf6ysApfQoWPo4s2HXYQ0zMowunmMNiUp5lw6VjsZkm2iwwQ4Tll+quwLIRzgRGX5OnOCsryJAzyjFBE6CLRKLFOWf7rsCy4O8IRShHYmsc5o266070I4wEpl+TqjXYcpjcB2cYA/K0WMKsvXGW3b7S/7gosDPKIUkdq7dU5o2650LcHFAbRLoueSWabrRGjRxw6fHmgXkwA4G31o0ioLITXjLPTtvrqsEpcnwG70M3kXKsvXkYuU5Y/iEE/g4gBTSPoRDZcoy9cRbZs9hMM0susc/wM6LbyJdFYFc2Ax+gwq97l8ydUB7lcIAXgekluowY23o18H0PbZ//BC9AOSZnOIOxZ5mE6zFjWmFNTGXzbQKmGxPXyHa2X9rPNrM1C1gI8or1EHPmZwDS/Zws5F75mH0a9wVZlTsUkRc7YPcS1sslx/0Ye4ivAV9O07jseZ188ZCHwWOMOXwIwZwSZN3Gd9ilyJPki0AL7vU2Sm/Ah9ux5D0vl45W4DoQWB8tpmglX+5TtDiLXKa7sfOCmE4MRZCjyGTZteHEJwC5lnthC8jXovFbeA27BpyzECtuV7jUQXwAdDiU6Qq7Frx80hhQ9jd0zsFHL6WN3YgKzWWbThLko2gPjgXQbCOzZJvYJGRpGATav285Iatowh4NcDiO1lewmbRj4WK7A7IaQAthNxHGWRQbzbxqm2E6zA9uDINrAu6B3Mwk3YOsFe4qaV88Uotr/8Argh6B30YAnwF2xvbJJqDQw3YPufXyBzByEO3XLCaiar26aQV8Sc5wlayKue1Wi/294S8D6cuBH7myyQyaIcZwyXYjfJM9O+GvA+nFkEPIyfG95PXpHFG7Gb3p1pY0iMZZK8DH1SqbnsNuR0rVQZwWZVr5c9RQbzJZfhrwEKJJ7gy6SRfazDqUgwh8V6fi9rA28NdUNaPoFfJyiQ8weuJ26g6SokuZRFGFeZfTTQPZnQQt5RfTdKx36JnJ4dIh3NYuA92B2h62LXBbgvc+YB3yNcIxXI38NPgQ8j4xGLV8gWslHzauTYG5+P+dlsKx5PBff9jj2MhH+9w3M9vXgCiZHfiUzB7gMen/78MP9NonQckpBpGZKWZQSZuVuDbNGOlefodmSZ91+R6jdhGPguYX81VbCtpJdkc2CGCDsmyN2uw+NjPxYt4OPEb9yUrU1mo/1BuBS/k0W52t/J6D1fyyj6s4irZGNUcwl8ThYiWbtjN35su56E5/ZDsBH7eIIc7DESXNKNxRLkfJ7YnRLC2sgbUTLBHClxHpKPKHYn+bLtJBDDlzot4J1IerrYHWZlu5DQ7Zyjm4IzD1l02Un8DhzUxoB3E2HTRpVoIWnm7sJma7pvO4bs0r2Y5hdvzhnANdjG1lvZOJKcwfv+/Ab5Za0FPg/8nnidvgO4FsnJk+WvPUvRs3A6cAFwPvA65Nh065W0o8i2+PuQJIz3oj/ZMzpVcYCZLEACQlYjIWMjyKN5GbK2fxISA9DJxtk5P/BpJFbgSSQSed+0deIJYh4n74V/A8ESGVHBpVajAAAAAElFTkSuQmCC');
}

/* status */

#bookmark-status {
	margin:0 10px;
	border-radius:5px;
	padding:10px;
	font-size:12px;
	text-transform: uppercase;
	background-color:#eee;
}
.bookmark-status-link {
	font-size:12px;
	text-transform: uppercase;
	vertical-align: top;
	float:right;
}

/* location */

#save-location {
	position: relative;
	padding:0 10px;
}
#save-location-drop {
	position:absolute;
	top:38px;
	left:10px;
	width:220px;
	background-color:#eee;
	border-radius: 0 0 5px 5px;
	border:2px solid #3b99fc;
	border-top:1px solid #ccc;
	max-height: 190px;
	overflow-y:auto;
	z-index:22;
}
.save-location-drop-message {
	display:block;
	padding:5px;
	font-size:14px;
	background-color:#ddd;
}
.save-location-drop-item {
	display:block;
	padding:5px;
	cursor:pointer;
	font-size:14px;
}
.save-location-drop-message * {
	font-size:14px;
	vertical-align: text-bottom;
	word-break:break-all;
}
.save-location-drop-item:hover {
	background-color:#ddd;
}
.save-location-drop-item.selected {
	background-color:#ccc;
}

/* bookmark details */

#bookmark-details {
	background-color:#fefefe;
	padding:5px 0;
}
#bookmark-icon {
	background-color:#eee;
	width:90px;
	height:90px;
	margin:7px 3px 0px 10px;
	display: inline-block;
	border-radius:11px;
	background-position: 50% 50%;
	background-size:cover;
	background-repeat: no-repeat;
}
.sk-folding-cube {
	margin: 20px auto;
	width: 40px;
	height: 40px;
	position: relative;
	transform: rotateZ(45deg) translate(5px,5px) scale(0.65);
	display:none;
}
#bookmark-icon.loading .sk-folding-cube {
	display:block;
}

.sk-folding-cube .sk-cube {
	float: left;
	width: 50%;
	height: 50%;
	position: relative;
	transform: scale(1.1); 
	opacity:0.9;
}
.sk-folding-cube .sk-cube:before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #bbb;
animation: sk-foldCubeAngle 2.4s infinite linear both;
transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
-webkit-transform: scale(1.1) rotateZ(90deg);
		transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
-webkit-transform: scale(1.1) rotateZ(180deg);
		transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
-webkit-transform: scale(1.1) rotateZ(270deg);
		transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
-webkit-animation-delay: 0.3s;
		animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
-webkit-animation-delay: 0.6s;
		animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
-webkit-animation-delay: 0.9s;
		animation-delay: 0.9s;
}
@keyframes sk-foldCubeAngle {
0%, 10% {
	-webkit-transform: perspective(140px) rotateX(-180deg);
			transform: perspective(140px) rotateX(-180deg);
	opacity: 0; 
} 25%, 75% {
	-webkit-transform: perspective(140px) rotateX(0deg);
			transform: perspective(140px) rotateX(0deg);
	opacity: 1;
	box-shadow:0 0 15px rgba(255,255,255,0.5);
} 90%, 100% {
	-webkit-transform: perspective(140px) rotateY(180deg);
			transform: perspective(140px) rotateY(180deg); 
	opacity: 0;
}
}
#bookmark-values {
	margin:2px 0;
	display:inline-block;
	vertical-align: top;
	width:182px;
}
#bookmark-details .details-input {
	width:194px;
	border-radius:10px;
	padding:7px 10px;
	background-color:#eee;
	margin-bottom:3px;
	font-size:14px;
}

#bookmark-extra-details {
	background-color:#fefefe;
	padding:0 10px 10px 10px;
}
.styled-input {
	background-color:#eee;
	border-radius:10px;
	padding:7px 10px;
	margin:5px 0 0 0;
	font-size:14px;
	width:100%;
}

/* footer css */
body:not(.is-loaded) .is-loaded-block {
	display:none;
}